@charset 'utf-8';
@import url(reset.css);

/* ----------------------------------------------------- All browsers */

body {
	font-family: Georgia, serif;
/*	background-color: #333;*/
}

.clearboth {
	clear: both;
}


/* ----------------------------------------------------- Specific site elements */

#header {
	background: #AD5FB5; /* old browsers */
	background: -moz-linear-gradient(top, #AD5FB5 0%, #6C1E74 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AD5FB5), color-stop(100%,#6C1E74)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AD5FB5', endColorstr='#6C1E74',GradientType=0 ); /* ie */
	height: 110px;
}
#header h1 {
	padding: 39px 0 0 40px;
	color: #fff;
	letter-spacing: 1.3px;
	text-shadow: 2px 2px 1px #444;
}
#header h1 strong {
	text-shadow: 2px 2px 1px #333;
}

#content {
	padding: 15px 0 0 0;
	background-color: #fff;
	clear: both;
}

#footer {
	clear: both;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	text-align: center;
	margin: 30px 0 0 0;
	padding: 3px;
	background-color: #888;
	color: #fff;
	text-shadow: -1px -1px 0px #000, 0px 0px 8px #fff;
}


/** containers **/
div.view {
	min-width: 950px;
}
div.form,
div.index,
div.view {
	padding:10px 2%;
	margin-left: 230px;
}
div.actions {
	width:200px;
	padding:17px 1.5%;
	position: absolute;
}

/**  Actions  **/
#content div.actions ul {
	margin: 0;
	padding: 0;
	border: none;
}
#content div.actions li {
	margin:0 0 10px 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
	border: none;
	line-height: 18px;
}
#content div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
	font-family: Georgia, serif;
}
#content div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
#content div.actions ul li a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
#content div.actions ul li a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}




/* ----------------------------------------------------- General Layouting stuff */

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	color: #444;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}
h2 {
	font-size: 21px;
	line-height: 30px;
	margin: 5px 0 10px 0;
	padding-left: 4px;
	border-bottom: 1px solid #444;
	background-color: #f5f5f5;
}
h3 {
	border-bottom: 1px solid #444;
	margin: 5px 0 5px 0;
	padding: 0 8px 0 8px;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	background-color: #f5f5f5;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

div#content p {
	font-family: Georgia, serif;
	padding: 5px 0;
	line-height: 130%;
}

#content a {
	color: #82348A;
}

#content ul {
	margin: 10px 0 10px 0;
}
#content ul li {
	line-height: 20px;
	font-size: 14px;
	padding: 3px 1px;
	margin: 0 0 1px 19px;
	list-style: disc outside none;
}
#content ul li:hover {
	background-color: #ffd;
}
#content ul li.action {
	list-style-type: none;
	background-color: #fff;
}
#content ul li.none {
	color: #777;
	font-style: italic;
	list-style-type: none;
	background-color: #fff;
}
#content ul li.attending {
	background-color: #AFFF9F;
}


#content ul li .actionlinks {
	display: block;
	float: right;
	font-size: 12px;
}
#content ul li .actionlinks img {
	height: 16px;
	width: 16px;
}


/* ----------------------------------------------------- Some more specific stuff */

div.degreecols {
	width: 900px;
	clear: both;
}
div.degreecol {
	float: left;
	width: 280px;
	margin: 0 20px 20px 0;
}

#content div.actions p {
	font-size: 13px;
	line-height: 120%;
	padding: 5px;
	color: #777;
	font-style: italic;
}
#content div.actions p.important {
	color: #f00;
}


#content ul.timecolumn {
	width: 130px;
	float: left;
/*	padding: 0 10px 0 0;*/
	margin-right: 10px;
	border-right: 1px dotted #999;
	
}
#content ul.timecolumn.legend {
	width: 40px;
	text-align: right;
}
#content ul.timecolumn.legend.right {
	text-align: left;
	border: none;
	border-left: 1px dotted #999;
	padding-left: 2px;
}
#content ul.timecolumn li {
	list-style: none;
	margin: 0;
	padding-right: 2px;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	border-bottom: 1px dotted #999;
}
#content ul.timecolumn li.header {
	text-align: right;
	font-style: italic;
}
#content ul.timecolumn li .date {
/*	border: 1px solid red;*/
/*	writing-mode: tb-rl;*/
	padding: 0;
	margin: 0 2px 0 0;
	border: 1px solid #000;
	background-color: #AFFF9F;
	position: relative;
	top: -3px;
	width: 30px;
	height: 112px;
	overflow: hidden;
/*	float: left;*/
}
#content ul.timecolumn li .date:hover {
	overflow: visible;
}
#content ul.timecolumn li .date.lvl0 { left: 0; }
#content ul.timecolumn li .date.lvl1 { left: 33px; }
#content ul.timecolumn li .date.lvl2 { left: 66px; }
#content ul.timecolumn li .date.lvl3 { left: 99px; }
#content ul.timecolumn li .date.lvl4 { left: 132px; }
#content ul.timecolumn li .date div {
/*	border: 1px solid red;*/
	width: 400px;
	padding-left: 400px;
	position: relative;
	left: -392px;
	top: -3px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#content ul.timecolumn li .date div span {
	background-color: #AFFF9F;
	padding: 0 3px 0 0;
}


/* ----------------------------------------------------- Forms! (Argh...) */

form {
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	padding: .5em .7em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	width:98%;
	font-size: 16px;
}
select {
	clear: both;
	vertical-align: text-bottom;
	font-size: 12px;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}


/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-family: monospace;
	font-size: 12px;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}



/* ----------------------------------------------------- JS enabled browsers */

.js div { }

/* ----------------------------------------------------- IE7 and below */

.ie7 div { }

/* ----------------------------------------------------- IE6 and below */

.ie6 div { }
